{% extends "index.html" %}
{% load static %}

{% block content %}
  <div class="clothes_main section ">
    <div class="container">
      <div class="row">
         <div class="col-xl-4 col-lg-4 col-md-6 col-sm-12">
            <div class="sport_product">
               <figure><img src="{% static 'images/basketball.png' %}" alt="img"/></figure>
              <h3> $<strong class="price_text">50</strong></h3>
               <h4>basket ball</h4>
            </div>
         </div>
       </div>
      </div>
     </div>
  </div>
{% endblock %}