<div class="hello">
  <div class="buy_now_bt">
    <button class="buy_text11">
      {% if perms.home.can_add_coupon %}
        <a class="main_a1" href="{% url 'coupon-add' %}">Add</a>
      {% endif %}
    </button>
  </div>
  <div class="buy_now_bt">
    <button class="buy_text11">
      <a class="main_a1" href="{% url 'main' %}">Exit</a>
    </button>
  </div>

</div>

<form action="" method="get">
  <input class="input" type="text" placeholder="code" name="code" />
  <input class="input1" type="submit" value="Search" />
</form>


<div class="layout_padding gallery_section">
  <div class="container">
    <ul class="myul">
      {% for item in coupon %}
      <li class="myli">
        <div class="best_shoes">
          <p class="best_text">{{item.code}}</p>
          <div class="star_text">
            <div class="left_part" >
              {% if perms.home.can_change_coupon %}
                <a class="main_a" href="{% url 'coupon-change' item.id %}">Change</a>
              {% endif %}

              {% if perms.home.can_delete_coupon %}
                <a class="main_a" href="{% url 'coupon-delete' item.id %}">Delete</a>
              {% endif %}
            </div>
          </div>
        </div>
      </li>
      {% endfor %}
    </ul>
</div>
