{% extends "index.html" %}
{% load static %}

{% block header %}

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<title>About Us - Kidol - Kids Toys Store eCommerce HTML Template</title>

<!--== Favicon ==-->

<!--== Google Fonts ==-->
<link href="https://fonts.googleapis.com/css?family=Fredoka+One:400" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Rubik:300,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

<!--== Bootstrap CSS ==-->
<link href="{% static '/css/bootstrap.min.css' %}"  rel="stylesheet"/>
<!--== Font-awesome Icons CSS ==-->
<link href="{% static '/css/font-awesome.min.css' %}"  rel="stylesheet"/>
<!--== Pe Icon 7 Min Icons CSS ==-->
<link href="{% static '/css/pe-icon-7-stroke.min.css' %}"  rel="stylesheet"/>
<!--== Ionicons CSS ==-->
<link href="{% static '/css/ionicons.css' %}"  rel="stylesheet"/>
<!--== Animate CSS ==-->
<link href="{% static '/css/animate.css' %}"  rel="stylesheet"/>
<!--== Aos CSS ==-->
<link href="{% static '/css/aos.css' %}"  rel="stylesheet"/>
<!--== FancyBox CSS ==-->
<link href="{% static '/css/jquery.fancybox.min.css' %}"  rel="stylesheet"/>
<!--== Slicknav CSS ==-->
<link href="{% static 'css/slicknav.css' %}"  rel="stylesheet"/>
<!--== Swiper CSS ==-->
<link href="{% static '/css/swiper.min.css' %}"  rel="stylesheet"/>
<!--== Slick CSS ==-->
<link href="{% static '/css/slick.css' %}"  rel="stylesheet"/>
<!--== Main Style CSS ==-->
<link href="{% static '/css/style.css' %}"  rel="stylesheet" />

{% endblock %}