{% extends "index.html" %}
{% load static %}

{% block script %}
<!--=== Modernizr Min Js ===-->
<script src="{% static 'js/modernizr.js' %}"></script>
<!--=== jQuery Min Js ===-->
<script src="{% static 'js/jquery-main.js' %}"></script>
<!--=== jQuery Migration Min Js ===-->
<script src="{% static 'js/jquery-migrate.js' %}"></script>
<!--=== Popper Min Js ===-->
<script src="{% static 'js/popper.min.js' %}"></script>
<!--=== Bootstrap Min Js ===-->
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!--=== jquery Appear Js ===-->
<script src="{% static 'js/jquery.appear.js' %}"></script>
<!--=== jquery Swiper Min Js ===-->
<script src="{% static 'js/swiper.min.js' %}"></script>
<!--=== jquery Fancybox Min Js ===-->
<script src="{% static 'js/fancybox.min.js' %}"></script>
<!--=== jquery Aos Min Js ===-->
<script src="{% static 'js/aos.min.js' %}"></script>
<!--=== jquery Slicknav Js ===-->
<script src="{% static 'js/jquery.slicknav.js' %}"></script>
<!--=== jquery Countdown Js ===-->
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<!--=== jquery Tippy Js ===-->
<script src="{% static 'js/tippy.all.min.js' %}"></script>
<!--=== Isotope Min Js ===-->
<script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
<!--=== Parallax Min Js ===-->
<script src="{% static 'js/parallax.min.js' %}"></script>
<!--=== Slick  Min Js ===-->
<script src="{% static 'js/slick.min.js' %}"></script>
<!--=== jquery Wow Min Js ===-->
<script src="{% static 'js/wow.min.js' %}"></script>
<!--=== jquery Zoom Min Js ===-->
<script src="{% static 'js/jquery-zoom.min.js' %}"></script>

<!--=== Custom Js ===-->
<script src="{% static 'js/custom.js' %}"></script>